@import url("./global.css");
#panner .clients-panner {
  background-image: url("../assets/clients-panner.png");
}
.p-footer {
  position: relative;
  text-align: end;
}
.p-footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: calc(100% - 200px);
  height: 3px;
  background-color: var(--secondary-color);
}
.p-footer img {
  width: 125px;
  height: 125px;
  object-fit: contain;
}
#client-quote {
  background: url('../assets/clients-bg.png') no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 40vh;
}
#client-quote .caption {
  position: relative;
  top: 110px;
}
#client-quote .caption p{
  width: 45%;
}