:root {
  --primary-color: #6094e4;
  --secondary-color: #a72e37;
  --heading-color: #1a477e;
  --bg-color: #ecf1fa;
}
/* Google Fonts */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* Google Fonts */
/* Animations */
.contact-us-2 input[type="submit"],
.splide__slide a.inner-card,
.main-card,
.form-control,
.testimonials .testi-card,
input,
textarea{
  transition: 0.3s linear all;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
}
/* Animations */
/* Global Rules */
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
h2,
h3,
h6 {
  font-weight: bold;
  text-transform: capitalize;
}
p {
  font-size: 1.25rem;
}
ul{
  padding-right: 0;
}
.panner-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 55vh;
}
.panner-text {
  left: 8%;
  height: 100%;
  background-color: #6095e494;
  width: 32rem;
  z-index: 999;
  bottom: 0;
}
.panner-text .text {
  top: 50%;
}
.panner-text .text h1 {
  font-size: 4.5rem;
  margin-top: -20px;
}
.panner-text .text p,
.panner-text .text h1 {
  text-shadow: 5px 5px 10px #000;
}
#panner {
  margin: 0;
}
#panner .panner-ribbon {
  background-color: #a72e37b5 !important;
  width: 100%;
  bottom: 0px;
  z-index: 8888;
}
.panner-ribbon p {
  font-size: 1.5rem;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .panner-container {
    height: 30vh;
  }
  .panner-text {
    z-index: 999;
    width: 15rem !important;
    left: 18%;
  }
  .panner-text .text {
    top: 35%;
  }
  .panner-text .text h1 {
    font-size: 1.825rem;
    margin-top: -10px;
  }
  .panner-text .text p {
    font-size: 1.225rem !important;
  }
  .panner-ribbon p {
    margin-bottom: 15px;
    width: 100% !important;
  }
  .panner-ribbon p, .panner-ribbon a{
    font-size: 1rem !important;
  }
}
.swiper-pagination {
  bottom: 0 !important;
}
.swiper-pagination span.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  background-color: #fff;
  border: 2px solid var(--primary-color);
}
.swiper-pagination span.swiper-pagination-bullet-active {
  background-color: var(--secondary-color) !important;
  border: 2px solid var(--secondary-color);
}
.main-heading {
  font-size: 2rem;
  margin-bottom: 0;
  color: var(--heading-color);
}
.main-btn {
  background-color: var(--secondary-color);
  border: var(--secondary-color);
  color: #fff;
  text-transform: capitalize;
}
.main-btn:hover {
  background-color: #8b222a;
  color: #fff;
}
@media (max-width: 767px) {
  .main-heading {
    font-size: 1.6rem !important;
  }
  .main-btn {
    font-size: 1rem !important;
  }
  .sub-heading {
    font-size: 1.3rem;
  }
  p {
    font-size: 1rem !important;
  }
}
.sub-heading {
  font-size: 1.5rem;
  margin-bottom: 0;
  color: var(--secondary-color);
}
.bg-light-gray {
  background-color: var(--bg-color);
}
.divider {
  width: 100%;
  height: 3px;
  background-color: var(--secondary-color);
}
.w-fit-content {
  width: fit-content;
}
.about-investor {
  cursor: pointer !important;
}
.form-container {
  background-color: var(--bg-color);
  padding: 35px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.form-container h4 {
  color: var(--heading-color);
  text-transform: capitalize;
}
.form-container button[type="submit"] {
  display: block;
  margin: 0 auto 45px;
  font-weight: bold;
  font-size: 1.2rem;
}
.form-container input:not(:last-child) {
  margin-bottom: 15px;
}
.form-control {
  border-color: var(--primary-color) !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}
.form-control:focus {
  box-shadow: none !important;
}
.form-control::placeholder {
  color: #c5c5c5;
}
.contact-us-2 input,
.contact-us-2 textarea {
  border: none;
  border-bottom: 2px solid var(--heading-color) !important;
  background-color: var(--bg-color);
}
.form-container .form-control:focus,
.contact-us-2 input:focus,
.contact-us-2 textarea:focus{
  background-color: #fff;
}
.contact-us-2 input:focus {
  background-color:var(--bg-color) ;
}
.contact-us-2 h4 {
  color: var(--heading-color);
  text-transform: capitalize;
}
.contact-us-2 input::placeholder,
.contact-us-2 textarea::placeholder {
  color: #8d8585;
  font-size: 1.2rem;
}
.contact-us-2 textarea {
  width: 100%;
  height: 140px;
  resize: none;
  outline: none;
  padding-left: 10px;
  padding-top: 10px;
}
.contact-us-2 input[type="submit"] {
  background-color: var(--heading-color);
  font-size: 1.2rem;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.contact-us-2 input[type="submit"]:hover {
  background-color: #2e64a5;
  color: #fff;
}
.gmap_canvas {
  max-width: 100%;
  margin: 0 auto;
}
li.page-item,
span.page-link {
  cursor: pointer;
}
#phone-icon {
  color: #000;
}
#phone-icon i.fa-phone{
  color: var(--primary-color);
}
/* Global Rules */
/* Start Navbar */
header .header-top-info {
  background-color: #edf1fa;
}
header .logo {
  width: 75px;
}
header #phone-icon{
  cursor: pointer;
}
@media (min-width: 768px) {
  header .logo {
    width: 100px;
  }
  header .header-top-info {
    margin-bottom: -15px !important;
  }
  .navbar {
    padding: 0;
  }
}
.navbar {
  background-color: #e6ebf3;
  padding: 10px;
  box-shadow: 0px 0px 5px #bdc0c5;
}
.nav-link {
  width: fit-content !important;
}
.navbar .nav-item:hover .dropdown-menu {
  display: block;
}
.navbar .nav-item .nav-link {
  color: var(--primary-color);
  margin-right: 0.5rem;
  transition: 0.3s linear all;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
}
.navbar .nav-item .nav-link:hover {
  color: var(--secondary-color);
}
.navbar .nav-item .nav-link.active {
  color: var(--secondary-color);
}
@media (min-width: 992px) and (max-width: 1400px) {
  .navbar-nav {
    font-size: 1.125rem !important;
    gap: 8px !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
  }
  li.nav-item {
    margin-right: 8px;
  }
}
.dropdown-menu {
  background-color: var(--primary-color);
  padding-bottom: 0 !important;
}
.dropdown-menu .dropdown-item {
  color: #fff;
  margin-bottom: 0.3rem;
  font-weight: 100;
}
.dropdown-item:hover {
  background-color: var(--primary-color);
}
.dropdown-toggle::after {
  margin-left: 0 !important;
}
.fa-search {
  font-size: 1.2rem;
  color: var(--secondary-color);
}
#searchBar input[type="search"] {
  width: 100%;
  border: none;
  background-color: #fff;
  padding: 15px;
  font-size: 1.3rem;
  border-bottom: 1px solid #000;
}
#searchBar input[type="search"]:focus {
  outline: none;
}
/* End Navbar */
/* Start Slider Section */
@media (min-width: 768) {
  main {
    margin-top: 200px;
  }
}
/* End Slider Section */
/* Start Vertical Slider */
.splide__slide:hover a.inner-card{
  box-shadow: 0 0 8px #474747;
}
.splide__pagination--ttb {
  right: -0.5rem;
}
.splide__arrows--ttb .splide__arrow {
  display: none !important;
}
.splide__pagination__page {
  background: #fff !important;
  height: 15px !important;
  width: 15px !important;
  margin: 5px 0px !important;
  border:1px solid var(--heading-color) ;
}
.splide__pagination__page.is-active {
  background: var(--secondary-color) !important;
  height: 17px !important;
  width: 17px !important;
  border:1px solid var(--secondary-color) ;
}
.inner-card {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}
.inner-card img {
  width: 100%;
}
.inner-card p {
  color: #000;
  margin: 0 !important;
}
@media (max-width: 767px) {
  .inner-card {
    display: block;
    text-align: center;
  }
  .inner-card img {
    margin-top: 15px;
  }
}
/* End Vertical Slider */
/* Start News Section */
.main-card {
  padding: 5px;
  background-color: #efefef;
}
.main-card:hover {
  box-shadow: 0 0 8px #474747;
}
.main-card img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.main-card .img-caption {
  background-color: #fff;
  padding: 5px;
}
.main-card .img-caption h6 {
  padding-top: 5px;
}
.main-card .img-caption p {
  margin-bottom: 0;
  margin-top: 5px;
}
/* End News Section */
/* Start Testimonials Section */
.testimonials {
  background-color: var(--bg-color);
  padding-bottom: 70px;
  box-shadow: 0 0 10px #a9a1a1;
}
.testimonials .testi-card:hover{
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
}
.testimonials .testi-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 60px);
  height: 100%;
  background-color: #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.testimonials .testi-card .person-img {
  position: relative;
}
.testimonials .testi-card .person-img img {
  box-shadow: 0px 5px 10px #8d8585;
  background-color: #fff;
  width:550px;
  height: 200px;
  object-fit: cover;
}

.testimonials .testi-card .person-img .person-name {
  background-color: var(--primary-color);
  font-size: 1.2rem;
}
.testimonials .testi-card .review::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 17px;
  background-color: var(--primary-color);
  width: 30%;
  height: 3px;
}
.testimonials .testi-card .review ul li {
  display: inline-block;
}
.testimonials .testi-card .review ul li i {
  color: #ffd06a;
  font-size: 1.4rem;
}
.testimonials .testi-card .comma-icon {
  position: absolute;
  bottom: -25px;
  right: 10px;
  width: 65px;
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
}
@media (max-width: 767px) {
  .testimonials .testi-card {
    margin-bottom: 60px;
  }
  .testimonials .testi-card .person-img .person-name {
    font-size: 1rem;
    color: rgb(167, 46, 55);
  }
}
/* End Testimonials Section */
/* Start Footer */
footer {
  background-color: var(--primary-color);
}
footer .footer-head {
  position: relative;
  letter-spacing: 0.8px;
  width: fit-content;
}
footer .footer-head::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
footer li {
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}
footer li:hover:not(.social-icons > li) {
  margin-left: 10px;
}
footer .social-icons li {
  display: inline-block;
}
footer .social-icons li i {
  color: var(--primary-color);
  background-color: #fff;
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s linear all;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
}
footer .social-icons li i:hover {
  background-color: var(--primary-color);
  color: #fff;
}
/* End Footer */
