@import url("./global.css");
#panner .management-panner {
  background-image: url("../assets/management-panner.jpg");
}
.img-caption h4 {
  text-transform: capitalize;
}
.img-caption h6 {
  color: var(--secondary-color);
  font-size: 1.8rem !important;
  text-transform: capitalize;
}
.main-card img {
  height: 350px;
  max-height: 350px;
}

@media (max-width:767px) {
  .img-caption h6 {
    font-size: 1.4rem !important;
  }
}