@import url("./global.css");
#panner .testimonials-panner {
  background-image: url("../assets/testimonials-panner.jpg") !important;
}
#latest-news h2 {
  font-size: 2.5rem;
}
.main-card .img-title {
  font-size: 1.5rem;
}
.main-card .img-caption {
  padding: 15px;
}
.main-card img {
  height: 250px;
  max-height:250px ;

}
.main-card .date {
  font-size: 1.2rem;
  color: var(--heading-color);
  font-weight: bold;
  text-transform: capitalize;
}
