@import url("./global.css");
#panner .partnerPage-panner {
  background-image: url("../assets/partner-page-panner") !important;
}
#panner .panner-text .text h2 {
  font-size: 3.5rem;
  font-style: italic;
  letter-spacing: 4px;
}
#panner .panner-text .text span {
  font-size: 2rem;
}
@media (max-width:767px) {
  #panner .panner-text .text {
    width: 255px;
  }
  #panner .panner-text .text h2 {
    font-size: 2.25rem;
  }
  #panner .panner-text .text span {
    font-size: 1.25rem;
  }
}
#partner .partner-text, #partner .partner-img {
  transition: 1200ms ease-in 1000ms all;
  -webkit-transition: 1200ms ease-in 1000ms all;
  -moz-transition: 1200ms ease-in 1000ms all;
  -ms-transition: 1200ms ease-in 1000ms all;
  -o-transition: 1200ms ease-in 1000ms all;
}
#partner .partner-text {
  transform: scale(0,0);
  -webkit-transform: scale(0,0);
  -moz-transform: scale(0,0);
  -ms-transform: scale(0,0);
  -o-transform: scale(0,0);
}
#partner .partner-img {
  transform: translateY(-700px);
  -webkit-transform: translateY(-700px);
  -moz-transform: translateY(-700px);
  -ms-transform: translateY(-700px);
  -o-transform: translateY(-700px);
}
.card {
  border: 5px solid #ddd;
  transition: 0.3s linear all;
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -ms-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
}
.card:hover {
  box-shadow: 0 0 8px #474747;
}
.card img {
  border-bottom: 5px solid var(--heading-color);
  height: 370px;
  max-height: 370px;
  object-fit: cover;
  object-position: top;
  overflow-y: hidden;
}
.card .card-title {
  color: var(--heading-color);
  font-weight: bold;
  font-size: 2rem;
  text-transform: capitalize;
}
