@import url("./global.css");
#panner .partners-panner {
  background-image: url("../assets/partners-panner.jpg") !important;
}
.splide__slide {
  height: fit-content !important;
  padding-inline: 15px;
}
.inner-card {
  align-items: center !important;
  padding-block: 20px;
}
.inner-card::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--heading-color);
}
.inner-card p {
  font-size: 1.125rem;
  padding-block: 20px;
}
.inner-card > div {
  width: 100%;
  text-align: center;
}
.inner-card > div img {
  max-width: 250px;
}
button[type="submit"] {
  display: block;
  margin: 0 auto 45px;
  font-weight: bold;
  font-size: 1.2rem;
}
@media (max-width:767px) {
  .splide__slide {
    margin-bottom: 0 !important;
  }
  .inner-card {
    padding-block: 6px;
  }
  .inner-card p {
    padding-block: 0;
  }
  .inner-card img {
    margin-top: 15px;
  }
}