@import url("./global.css");
#panner .partners-panner {
  background-image: url("../assets/partners-panner.jpg") !important;
}
@media (max-width: 767px) {
  .vertical-slider-container {
    height: 650px;
  }
}
.inner-card {
  border-top: 2px solid var(--heading-color);
}
button[type="submit"] {
  display: block;
  margin: 0 auto 45px;
  font-weight: bold;
  font-size: 1.2rem;
}