@import url("./global.css");
#panner {
  margin-bottom: 4.5rem;
}
#panner .panner-container {
  background-image: url("../assets/product-slider-01.jpg");
}
@media (max-width: 767px) {
  #panner .panner-text .text h1 {
    font-size: 2.825rem;
    margin-bottom: 0 !important;
  }
}
#contact-us {
  background-color: var(--bg-color);
}
#contact-us h4 {
  color: var(--heading-color);
  font-size: 1.5rem;
  text-transform: capitalize;
}
#products .mySwiper .product-card img {
  position: relative;
}
#products .mySwiper .product-card span {
  width: 100%;
  background-color: #fff;
  color: var(--heading-color);
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 600;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 3px 8px #8d8585;
  padding-left: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
}
#products .mySwiper .product-card::before,
#products .mySwiper .product-card::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
  z-index: 999;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.3s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#products .mySwiper .product-card::before {
  content: "";
  background-color: #a72e37b5;
  top: 0;
}
#products .mySwiper .product-card::after {
  content: attr(data-text);
  top: 0;
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: start;
  margin-left: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: end;
}
#products .mySwiper .swiper-card:hover::before,
#products .mySwiper .swiper-card:hover::after {
  opacity: 1;
}
#products .mySwiper .swiper-card:hover span {
  display: none;
}
/* Start Faq Section */
#faq .faq-container img {
  width: 100%;
  max-width: 100%;
}
#faq h2 {
  font-size: 2.5rem !important;
}
#faq .questions-container .question p.ques {
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--heading-color);
}
#faq .questions-container .more-btn {
  display: block;
  width: fit-content;
  background: #fff;
  border: none;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  padding: 0;
  border-bottom: 2px solid #000;
}
/* End Faq Section */